<!-- Page Heading -->
<div class="container-fluid">
                    <h1 class="h3 mb-4 text-gray-800">Perfil</h1>

                    <div class="row">

                        <div class="col-lg-3">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                      <img class="card-img-top" src="{{user.profile}}" alt="Card image cap">
                                      <a href="/profile" class="link-secondary">
                                      <h4 class="card-title text-center text-secondary mt-3">@{{user.username}}</h4>
                                      </a>
                                </div>
                                <div class="card-body">
                                    <p>Aquí podrás modificar todo lo relacionado contigo (Tus datos personales, métodos de facturación y preferencias)</p>
                                    <!-- User Information -->
                                  <ul class="list-group list-group-flush text-center">
                                    <li class="list-group-item">{{user.name}}</li>
                                    <li class="list-group-item">{{user.surname}}</li>
                                    <li class="list-group-item">User data: Nacimiento</li>
                                    <li class="list-group-item">User data: Direccion</li>
                                    <li class="list-group-item">User data: Localidad</li>
                                  </ul>
                                </div>
                            </div>

                            <!-- Brand Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-secondary">Preferencias</h6>
                                </div>
                                <div class="card-body">
                                    <div class="my-2"></div>
                                <div class="card-header py-3 text-center mt-3">
                                    <h6 class="m-0 font-weight-bold text-secondary">Preferencias</h6>
                                </div>
                                  <ul class="list-group list-group-flush text-center">
                                    <a class=" btn btn-light">Preferencia</a>
                                    <a class=" btn btn-light">Preferencia</a>
                                    <a class=" btn btn-light">Preferencia</a>
                                  </ul>
                                    </div>
                            </div>

                        </div>

                        {{> user/alterProfile}}

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->