    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">¡Registra un usuario!</h1>
                                        <p class="text text-gray-900 mb-4">Registra un usuario desde el lado de administrador.</p>
                                        <p class="text text-danger small text-center mt-2"> Al crear el usuario ingresarás con el automaticamente</p>
                                    </div>
                                    <form class="user" action="/signup" method="POST">
                                      
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" name="name" placeholder="Nombre: Juan" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" name="surname" placeholder="Apellido: Martinez" required>
                                        </div>
                                      <div class="form-group">
                                            <input type="text" class="form-control form-control-user" name="surname" placeholder="Direccion: jc25viv9" required>
                                        </div>
                                     
                                    
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" name="direccion" placeholder="Dirección: 18 de Julio, José Artigas 2211" required>
                                        </div>

                                        <select class="form-control border mb-3" name="localidad">
                                            <option>Young</option>
                                            <option>Fray Bentos</option>
                                            <option>Algorta</option>
                                            <option>Guichon</option>
                                        </select>

                                        <button class="btn btn-google btn-user btn-block">
                                            <i class="fas fa-check fa-fw"></i> Registrarme
                                        </button>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</html>