<nav class="navbar container-fluid bg-light shadow">
    <p></p>
    <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-success mr-sm-2" href="/signin">Iniciar sesion</a>
        <a class="btn btn-success mr-sm-2" href="/signup">Registrarse</a>
    </form>
</nav>