<ul class="navbar-nav bg-gradient-success sidebar sidebar-dark">

  <a class="sidebar-brand d-flex " href="/index.hbs">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-futbol"></i>
    </div>
    <div class="sidebar-brand-text mx-3">title<sup>v0.05</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <li class="nav-item">
    <a class="nav-link collapsed d-flex align-items-center justify-content-center" href="#sobre-nasta">  
      <span>Sobre el complejo</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <li class="nav-item">
    <a class="nav-link collapsed d-flex align-items-center justify-content-center" href="#" >
      <span>Ubicación</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <li class="nav-item">
    <a class="nav-link collapsed d-flex align-items-center justify-content-center" href="#contacto" >
      <span>Contacto</span>
    </a>
  </li>
    
</ul>