<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-dark" id="dataTable" width="100%" cellspacing="5">
                    <thead>
                        <tr class="text-center">
                            {{#each keys}}
                                <th>{{this}}</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {{#each rows}}
                        <tr>
                            <td>{{data0.id}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>