<div class="container-fluid">
    <!-- Page Heading -->
    <a href="#" data-toggle="modal" data-target="#uploadModal" class="btn btn-outline-success float-right">Subir plantilla</a>
    
        <h1 class="h2 mb-2 text-gray-800 font-weight-bold text-center">Plantillas</h1>
</div>

{{> modals/upload }}