<div class="container-fluid">
    <!-- Page Heading -->
    <a href="#" data-toggle="modal" data-target="#uploadModal" class="btn btn-outline-success float-right">Subir</a>
    
        <h1 class="h2 mb-2 text-gray-800 font-weight-bold text-center">Hojas de cálculo</h1>
    <div class="row">
        {{#each files}}
            <div class="col-2">
                <a href="/tools/sheets/{{name}}" class="btn btn-muted text-success">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-center">
                            <img class="card-img" src="/img/excel.svg" style="width: 11em;" alt="">
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="h6">{{name}}</h5>
                        <p class="small">size:{{size}}kb</p>
                    </div>
                </div>
                </a>
            </div>
        {{/each}}
    </div>
</div>

{{> modals/upload }}