    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-6 col-md-6">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-gray-900 mb-4">Añade un servicio</h4>
                                        <p class="text text-gray-900 mb-4">Registra un servicio con sus características para que los usuarios puedan acceder a ellos.</p>
                                    </div>
                                    <form class="user" action="/services/add" method="POST">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                name="service_name" placeholder="Nombre del servicio" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                name="service_price" placeholder="Precio del servicio" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                name="service_description" placeholder="Breve descripción del servicio" required>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" name="type">
                                            {{#each service_type}}
                                            <option>{{service_type_name}}</option>
                                            {{/each}}
                                        </select>
                                        </div>
                                        <button class="btn btn-google btn-user btn-block">
                                            <i class="fas fa-check fa-fw"></i> Añadir servicio
                                        </button>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>