
<div class="d-flex justify-content-center">
    <h1 class="h2 mb-2 text-secondary font-weight-bold">Servicios disponibles</h1>
    <p class="mb-4"></p>
</div>
<div class="row">
{{#each services}}
  <div class="col-sm-3 m-2">
    <div class="card shadow">
        <img src="/img/gym_banner.svg" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title text-dark font-weight-bold text-center">{{service_name}}</h5>
        <div class="card bg-light shadow">
            <div class="card-body">
                {{!- Estamos aplicando el helper discount declarado en lib/handlebars el mismo añade una cantidad de descuento al precio del servicio.-}}
                <h5 class="text-danger text-center"><del>UYU {{discount service_price 150}}</del></5>
                <h3 class="text-success font-weight-bold text-center">UYU {{service_price}}</h3>
            </div>
        </div>
        <p class="card-text">{{service_description}}</p>
        <p class="card-title text-center font-weight-bold text-dark">Características</p>
        <div class="d-flex justify-content-center">
            <ul class="list-group list-group-flush">
           {{!Service Features {{#each service_features}}
                <li class="list-group-item">
                    <i class="fas fa-sm fa-check text-success"></i><span class=" ml-2 text text-success">each caracteristica</span>
                </li>
            {{!End service Features {{/each}}
        </div>
      </div>
    </div>
  </div>
{{/each}}
</div>