
<div class="d-flex justify-content-center">
    <h1 class="h2 mb-2 text-secondary font-weight-bold">Mis suscripciones</h1>
    <p class="mb-4"></p>
</div>
<div class="row">
{{#each subscriptions}}
  <div class="col-sm-3 m-2">
    <div class="card shadow">
        <img src="/img/gym_banner.svg" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title text-dark font-weight-bold text-center">{{service_name}}</h5>
        <p class="card-text">{{service_description}}</p>
        <div class="d-flex justify-content-center">
        </div>
      </div>
    </div>
  </div>
{{/each}}
</div>