<a href="/bookings" class="btn btn-primary p-2 mr-4 float-right">Mis reservas</a>
<div id="content-wrapper" class="d-flex">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/bookings/create" method="POST">
                            <div class="form-group mb-2">
                                <div class="card-title">
                                       <strong>Datos</strong>
                                </div>
                                <div class="card-text text-success mb-3">
                                   <strong>Fútbol - Fútbol 5</strong>
                                </div>
                                <input type="hidden" value="1" class="form-control" name="cancha" placeholder="Cancha" required>
                            </div>
                            <div class="form-group">
                                <div class="card-text">
                                    Fecha de la reserva
                                </div>
                                <input type="date" name="date_booking" class="form-control mb-2" required>
                                <div class="card-text">
                                    Hora de inicio y fin de la reserva
                                </div>
                                <input type="time" name="start_booking" value="11:15" class="form-control mb-2">
                                <input type="time" name="end_booking"  value="10:15" class="form-control mb-2">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success form-control"> Reservar </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>