<div class="row d-flex justify-content-left m-2">
  {{#each bookings}}
  <div class="col-sm-2">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-center">
          <img class="card-img" src="/img/bookingHeader.png" style="width: 11em;" alt="Bookings header">
        </div>
      </div>
      <div class="card-body">
        <h5 class="h6 font-weight-bold">{{tipo_cancha}}</h5>
        <p class="small font-italic">Fecha: {{dateNormalized date_booking}}</p>
        <p class="small font-italic">Hora: {{start_booking}} Fin:</p>
      </div>
    </div>
  </div>
  {{else}}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card text-center shadow">
          <div class="card-body">
            <h5 class="card-title text-danger">Vaya... parece que no tienes reservas</h5>
            <p class="card-text text-dark">Para realizar una reserva presiona el botón a continuación.</p>
            <a href="/bookings/create" class="btn btn-light shadow text-success">Reservar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}