<div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-5 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Ingresar reserva</h1>
                                        <p class="text text-gray-900 mb-1">Estás a punto de ingresar una reserva, a continuación ingrese la fecha y hora de la reserva</p>
                                        <p class="text text-danger mb-4">Mantenga presente que la duración de la reserva es en todos los casos de 90 minutos.</p>
                                    </div>
                                    {{#each data}}
                                    <div class="card text-center">
                                    <div class="card-body">
                                        <a href="/bookings/create" class="card-title  link-dark h5">{{tipo_cancha}}</a>
                                        <p class="card-text mb-2">{{description}}</p>
                                        <p class="text text-secondary m-1">Precio:</p>
                                        <h6 class="card-subtitle text-light mb-2 bg-secondary rounded p-2">UYU{{price}}</h6>
                                    </div>
                                    </div>
                                    {{/each}}
                                    <form class="user" action="/bookings/create/new" method="POST">
                                        <div class="form-group">
                                            <input type="hidden" class="form-control form-control-user"
                                                name="cancha" value="{{cancha}}" required>
                                        </div>
                                        <div class="form-group">
                                            <p class="text text-secondary small m-1">Fecha de reserva <span class=" text text-danger">(Requerido)</span></p>
                                            <input type="date" class="form-control form-control-user text-uppercase"
                                                name="date_booking"  required>
                                        </div>
                                        <div class="form-group">
                                            <p class="text text-secondary small m-1">Hora de reserva <span class=" text text-danger">(Requerido)</span></p>
                                            <input type="time" class="form-control form-control-user text-uppercase"
                                                name="start_booking"  required>
                                        </div>
                                        <button type="submit" class="btn btn-success btn-user btn-block">
                                            <i class="fas fa-check fa-fw"></i> Reservar
                                        </button>
                                        <button class="btn btn-danger btn-user btn-block">
                                            <i class="fas fa-times"></i> Cancelar
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                            <a href="/bookings/create" class="small text text-secondary">Volver a lista de reservas</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>