<a class="dropdown-item d-flex align-items-center">
    <div class="small text-gray-500">
        Para visualizar las notificaciones, por favor vaya a la sección de <strong>Notificaciones</strong>
    </div>
</a>