    <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-futbol"></i>
                </div>
                <div class="sidebar-brand-text mx-3">title<sup>v0.05</sup></div>
            </a>
                <div class="sidebar-card d-none d-lg-flex">
                <p class="text-center m-1"> Lado del administrador</p>
            </div>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="./dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Movimientos</span></a>
                    
            </li>
                    
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                ADMINISTRACION
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdmins"
                    aria-expanded="true" aria-controls="collapseAdmins">
                    <i class="fas fa-user-lock"></i>
                    <span>Administradores</span>
                </a>
                <div id="collapseAdmins" class="collapse" aria-labelledby="headingAdmins"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Administradores</h6>
                        <a class="collapse-item" href="/admin/make">Añadir</a>
                        <a class="collapse-item" href="/admin/delete">Eliminar</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers"
                    aria-expanded="true" aria-controls="collapseUsers">
                    <i class="fas fa-user"></i>
                    <span>Usuarios</span>
                </a>
                <div id="collapseUsers" class="collapse" aria-labelledby="headingUsers"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Usuarios</h6>
                        <a class="collapse-item" href="/users">Ver</a>
                        <a class="collapse-item" href="/users/insert">Añadir</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBookings"
                    aria-expanded="true" aria-controls="collapseBookings">
                    <i class="fas fa-fw fa-dollar-sign"></i>
                    <span>Reservas</span>
                </a>
                <div id="collapseBookings" class="collapse" aria-labelledby="headingBookings"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Reservas</h6>
                        <a class="collapse-item" href="/bookings/create">Añadir</a>
                        <a class="collapse-item" href="/bookings/admin/list">Ver</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFields"
                    aria-expanded="true" aria-controls="collapseFields">
                    <i class="far fa-futbol"></i>
                    <span>Canchas</span>
                </a>
                <div id="collapseFields" class="collapse" aria-labelledby="headingFields"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Opciones</h6>
                        <a class="collapse-item" href="/field">Ver</a>
                        <a class="collapse-item" href="">Añadir</a>
                        <a class="collapse-item" href="">Eliminar</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePreferences"
                    aria-expanded="true" aria-controls="collapsePreferences">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Preferencias</span>
                </a>
                <div id="collapsePreferences" class="collapse" aria-labelledby="headingPreferences"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Usuario</h6>
                        <a class="collapse-item" href="">Almacenamiento</a>
                        <a class="collapse-item" href="">Temas</a>
                        <h6 class="collapse-header">Sistema</h6>
                        <a class="collapse-item" href="">Facturación</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Configuraciones
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Opciones</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Configuraciones:</h6>
                        <a class="collapse-item" href="login.html">Perfil</a>
                        <a class="collapse-item" href="register.html">Pagos</a>
                        <a class="collapse-item" href="forgot-password.html">Registro</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->