    <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion darkmode-ignore" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-futbol"></i>
                </div>
                <div class="sidebar-brand-text mx-3">title<sup>v0.05</sup></div>
            </a>
            
            {{#if (isAdmin user.rol)}}
            <li class="nav-item m-0">
                <a class="nav-link text-center">
                    <span class="bg-warning text-light font-weight-bold rounded p-2">ADMIN SIDE</span></a>        
            </li>
            {{/if}}
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-home"></i>
                    <span>Inicio</span>
                </a>
            </li>
                    
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Principal
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBookings"
                    aria-expanded="true" aria-controls="collapseBookings">
                    <i class="fas fa-fw fa-dollar-sign"></i>
                    <span>Reservas</span>
                </a>
                <div id="collapseBookings" class="collapse" aria-labelledby="headingBookings"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Reservas</h6>
                        <a class="collapse-item" href="/bookings">Mis reservas</a>
                        <a class="collapse-item" href="/bookings/create">Nueva reserva</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePreferences"
                    aria-expanded="true" aria-controls="collapsePreferences">
                    <i class="fas fa-coins"></i>
                    <span>Servicios</span>
                </a>
                <div id="collapsePreferences" class="collapse" aria-labelledby="headingPreferences"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Usuario</h6>
                        <a class="collapse-item" href="/subscriptions">Mis suscripciones</a>
                        <a class="collapse-item" href="/services">Nueva suscripción</a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                DIVERSIÓN
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGames"
                    aria-expanded="true" aria-controls="collapseGames">
                    <i class="fas fa-gamepad"></i>
                    <span>Juegos</span>
                </a>
                <div id="collapseGames" class="collapse" aria-labelledby="headingGames" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/games/runner">
                            <i class="fas fa-running"></i>
                            Runner
                        </a>
                        <a class="collapse-item" href="/games/tic-tac">
                            <i class="fas fa-times"></i>
                            Tres en linea
                        </a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Configuraciones
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Opciones</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Configuraciones:</h6>
                        <a class="collapse-item" href="login.html">Perfil</a>
                        <a class="collapse-item" href="register.html">Pagos</a>
                        <a class="collapse-item" href="forgot-password.html">Registro</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="/img/undraw_rocket.svg" alt="...">
                <p class="text-center mb-2"><strong>SABÍAS QUÉ: </strong> <br> Tip sobre la página!</p>
                <a class="btn btn-success btn-sm" target="_blank" >Nice</a>
            </div>

        </ul>
        <!-- End of Sidebar -->