    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-6 col-md-6">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">¡Elimina un administrador!</h1>
                                        <p class="text text-gray-900 mb-4">Elimina el rol de un administrador para que el mismo obtenga el rol de usuario.</p>
                                    </div>
                                    <form class="user" action="/admin/delete" method="POST">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                name="username" placeholder="username" required>
                                        </div>
                                        <button class="btn btn-google btn-user btn-block">
                                            <i class="fas fa-check fa-fw"></i> Eliminar administrador
                                        </button>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</html>