<div class="container-fluid d-flex justify-content-between">

                    <div class="row">

                        <div class="col-lg-3">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                      <img class="card-img-top" src="/img/swimmer.svg" alt="">
                                      <h4 class="card-title text-center text-info mt-3 font-weight-bold">Piscina</h4>
                                </div>
                                <div class="card-body">
                                    <p class="small text-center">A continuación un listado de todo lo que podrás obtener al obtener una subscripción a la piscina del complejo.</p>
                                    <!-- User Information -->
                                  <ul class="list-group list-group-flush text-center">
                                    <li class="list-group-item">DATO</li>
                                    <li class="list-group-item">DATO</li>
                                    <li class="list-group-item"> DATO </li>
                                    <li class="list-group-item"> DATO </li>
                                    <li class="list-group-item">DATO</li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                      <img class="card-img-top" src="/img/gym.svg" alt="">
                                      <h4 class="card-title text-center text-success mt-3 font-weight-bold">Gimnasio</h4>
                                </div>
                                <div class="card-body">
                                    <p class="small text-center">A continuación un listado de todo lo que podrás obtener al obtener una subscripción al gimnasio del complejo.</p>
                                    <!-- User Information -->
                                  <ul class="list-group list-group-flush text-center">
                                    <li class="list-group-item">DATO</li>
                                    <li class="list-group-item">DATO</li>
                                    <li class="list-group-item"> DATO </li>
                                    <li class="list-group-item"> DATO </li>
                                    <li class="list-group-item">DATO</li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                        

                    </div>

                </div>
                <!-- /.container-fluid -->