<main class="bg-success">
    <div class="d-flex justify-content-center">
        <canvas id="gameCanvas" class="rounded m-4 bg-white" style="border:0.3em  solid rgb(255, 255, 255);" width="1000" height="600"></canvas>
        <script src="/js/runner/game.js"></script>
    </div>
</main>