<div class="container">
    <div class="card not-responsive">
        <div class="card-header">
            <h2 class="h2 text text-success text-center font-weight-bold">Tres en línea</h2>
            <div id="messages" class="h3 text-dark text-center mt-1 font-italic">Esperando contrincante</div>
        </div>
        <div class="card-body not-responsive">
            <div class="board col-12 w-100">
                        <!-- LINEA 1 -->
                        <button id="a0" class="btn btn-success"></button>
                        <button id="a1" class="btn btn-success"></button>
                        <button id="a2" class="btn btn-success"></button>
                        <!-- LINEA 2 -->
                        <button id="b0" class="btn btn-success"></button>
                        <button id="b1" class="btn btn-success"></button>
                        <button id="b2" class="btn btn-success"></button>
                        <!-- LINEA 3 -->
                        <button id="c0" class="btn btn-success"></button>
                        <button id="c1" class="btn btn-success"></button>
                        <button id="c2" class="btn btn-success"></button>
            </div>
        </div>
    </div>
</div>
