<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="h2 text text-danger text-center font-weight-bold">Tres en linea</h2>
            <div id="messages" class="h3 text-dark text-center mt-1 font-italic">Esperando a alguien para jugar</div>
        </div>
        <div class="card-body">
            <div class="board">
                <button id="a0"></button>
                <button id="a1"></button>
                <button id="a2"></button> 
                <button id="b0"></button>
                <button id="b1"></button>
                <button id="b2"></button>
                <button id="c0"></button>
                <button id="c1"></button>
                <button id="c2"></button>
            </div>
        </div>
    </div>
</div>
