:root {
  --bgdark: rgb(33, 33, 33);
  --bgextradark: #191c1f;
  --inputdark: #191c1f;
  --input-dark-border: #232527;
  --bglight: #8185aa;
  --textdark: #9b9b9b;
  --border-dark: #3b3b3b;
  --nav-dark: rgb(25, 32, 39);
}

[data-theme="dark"] .bg-black {
  background-color: #fff !important;
}

[data-theme="dark"] .bg-dark {
  background-color: var(--bgextradark) !important;
}

[data-theme="dark"] .bg-light {
  background-color: var(--bgdark) !important;
}

[data-theme="dark"] .bg-white {
  background-color: var(--bgextradark) !important;
}

[data-theme="dark"] .card{
  background-color: var(--bgdark) !important;
  border: none;
}

[data-theme="dark"] .table{
  background-color: var(--bgextradark) !important;
  border: 1px var(--input-dark-border) solid;
}

[data-theme="dark"] .card-header{
  background-color: var(--bgdark) !important;
}

[data-theme="dark"] .bg-success{
  background-color: var(--bglight) !important;
}

[data-theme="dark"] .text-success{
  color: var(--bglight) !important;
}

[data-theme="dark"] .table-responsive{
  background-color: var(--bgextradark) !important;
  border: none;
}

[data-theme="dark"] .card li{
  background-color: var(--bgdark) !important;
  color: var(--textdark) !important;
}

[data-theme="dark"] input[type="text"]{
  background-color: var(--bgdark) !important;
  border: 3px solid var(--input-dark-border) !important;
}

[data-theme="dark"] select{
  background-color: var(--bgdark) !important;
  border: 1px solid var(--input-dark-border) !important;
}

[data-theme="dark"] textarea{
  background-color: var(--bgdark) !important;
  border: 1px solid var(--input-dark-border) !important;
}

[data-theme="dark"] .bg-gradient-secondary{
  background-color: var(--bgdark) !important;
}


[data-theme="dark"] .jumbotron{
  background-color: var(--bgextradark) !important;
}

[data-theme="dark"] .h1, .h2, .h3, .h4, .h5, .p, .a, .small{
  color: var(--textdark) !important;
}

[data-theme="dark"] .container {
  background-color: var(--bgextradark) !important;
}

[data-theme="dark"] .container-fluid {
  background-color: var(--bgextradark) !important;
}

[data-theme="dark"] #content-wrapper {
  background-color: var(--bgextradark) !important;
}

[data-theme="dark"] .text-secondary, .text-gray-900 {
  color: var(--textdark) !important;
}

[data-theme="dark"] ul .navbar-nav {
  background-color: var(--nav-dark) !important;
}

[data-theme="dark"] .btn-outline-success{
  border: 3px solid var(--border-dark) !important;
}

[data-theme="dark"] .link-success{
  color: var(--bglight) !important;
}

[data-theme="dark"] .btn-outline-success, .btn-outline-primary, .btn-outline-secondary, .btn-outline-danger, .btn-outline-warning, .btn-outline-info, .btn-outline-light, .btn-outline-dark {
  background-color: var(--bgextradark) !important;
  color: #fff;
  border: #353535 solid 3px;
}

[data-theme="dark"] .btn{
  background-color: var(--bgdark);
  color: #fff;
  border: rgb(126, 126, 126) solid 2px;
}