<nav class="site-header sticky-top py-1 bg-translucent shadow-lg">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="navbar-brand" href="#">
            <img src="/img/" alt="">
        </a>
        <a href="" class="nav-link text-light font-weight-bold">Inicio</a>
        <a href="" class="nav-link text-light font-weight-bold">Nosotros</a>
        <a href="" class="nav-link text-light font-weight-bold">Contacto</a>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <a href="/signin" class="btn btn-secondary">
                Inicio de sesión
            </a>
            <a href="/signup" class="btn btn-secondary">
                Registro
            </a>
        </div>
    </div>
</nav>


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center text-light bg-success-lite">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-bold text-uppercase">Sistema de Gestión para Complejos Deportivos</h1>
        <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts
            with this example based on Apple's marketing pages.</p>
        <a class="btn btn-translucent p-3 font-weight-light" href="">Comenzar</a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>