<div class="card ml-5" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-danger">Soy Topofrancis</h5>
    <h6 class="card-subtitle mb-2 text-muted">El mas nutrioso del topopueblo</h6>
    <p class="card-text">ei ei eii, soy el nutrinutil del frankp, saludete y besito en el ojete.</p>
    <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTel8FvUHGWPPpJV4r45VFWY7iVtdSCi4pt0w&usqp=CAU" class="card-link">Ver un topo</a>
    <a href="https://ff.garena.com/index/es/" class="card-link">Ser un topo</a>
  </div>
</div>