
    <nav class="navbar container-fluid bg-light shadow">
      <h1>Inicio</h1>
      <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-success mr-sm-2" href="/signin">Iniciar sesion</a>
        <a class="btn btn-success mr-sm-2" href="/signup">Registrarse</a>
      </form>
    </nav>
    <section class="slider_section">
                <div class="banner_main">

                    <div class="container">

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                                <div class="text-bg">
                                    <h1> <strong class="b_bold">COMPLEJO DEPORTIVO <br> NASTA </strong></h1>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="text-img">
                                    
                                    <figure><img src="img/cancha.png"/></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </section>