<div id="wrapper">
  <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark ">

    <a class="sidebar-brand d-flex " href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-futbol"></i>
      </div>
      <div class="sidebar-brand-text mx-3">title<sup>v0.05</sup></div>
    </a>
    
  </ul>

  <div id="content-wrapper">
    <nav class="navbar container-fluid bg-light shadow">
      <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-secondary mr-sm-2" href="/signin">Iniciar sesion</a>
        <a class="btn btn-secondary mr-sm-2" href="/signup">Registrarse</a>
      </form>
    </nav>
  </div>
</div>