<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="">

  </head>
  <body>
    
    {{> navigation-main }}
    <div id="content-wrapper">
      {{> header-main }}

      <br>
      <div class="d-flex justify-content-around">
        <div class="row">
            <div class="col-lg-12">
              <div class="card border-0">
                <div class="card-header"> 
                  <h1 class="text text-secondary font-weight-bold " style="font-size: 7em;">GESTIÓN <br> COMPLEJO <br> DEPORTIVO</h1>
                </div>
                <div class="card-body border-0 bg-light">
                  <p class="text text-secondary font-italic">"El complejo deportivo de tus sueños..."</p>
                  <a href="" class="btn btn-light text-secondary">Ver más</a>
                  <a href="" class="btn btn-light text-secondary">Registrarme</a>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
              <div class="text-img">                      
                <figure><img class=" float-right" src="img/cancha.png"/></figure>
              </div>
            </div>
        </div>
      </div>

      <div id="sobre-nasta" class="card ml-5 mr-5 mt-4 mb-4 shadow">
        <div class="card-body">
          <h2 class="card-title">Sobre Nasta: </h2>
          <p class="card-text">...</p>
        </div>
      </div>
      
    </div>

  </body>
</html>