<div class="col-lg-9">

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-secondary">Mis datos</h6>
                                </div>
                                <div class="card-body">
                                    <h2>¡Hola <span class="font-weight-bold mb-5">{{user.name}}</span>!</h2>
                                    <p class="ml-3">Aquí tendrás el control de tu perfil, sientete libre de cambiarlo y personalizarlo</p>
                                    <div class="my-2"></div>
                                    <div class="row">
                                        <div class="col-lg-1">
                                            <div class="card shadow">
                                                <div class="card-body bg-light">
                                                    <img class="card-img-top" src="/img/profile_picture.svg" alt="Card image cap">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1">
                                            <div class="card shadow">
                                                <div class="card-body bg-light">
                                                    <img class="card-img-top" src="/img/profile_picture_2.svg" alt="Card image cap">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1">
                                            <div class="card shadow">
                                                <div class="card-body bg-light">
                                                    <img class="card-img-top" src="/img/profile_picture_3.svg" alt="Card image cap">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1">
                                            <div class="card shadow">
                                                <div class="card-body bg-light">
                                                    <img class="card-img-top" src="/img/profile_picture_4.svg" alt="Card image cap">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1">
                                            <div class="card shadow">
                                                <div class="card-body bg-light">
                                                    <img class="card-img-top" src="/img/profile_picture_girl.svg" alt="Card image cap">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1">
                                            <div class="card shadow">
                                                <div class="card-body bg-light">
                                                    <img class="card-img-top" src="/img/profile_picture_girl1.svg" alt="Card image cap">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1">
                                            <div class="card shadow">
                                                <div class="card-body bg-light">
                                                    <a href="">
                                                    <img class="card-img-top" src="/img/profile_picture_girl2.svg" name="image">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 mt-2 ">
                                            <form action="/alter-c" method="get" class="">
                                                <button type="submit" class="btn btn-success form-control">
                                                    <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>